/* pre-setting */

@font-face {
    font-family: PoetsenOne;
    src: url(assets/PoetsenOne-Regular.ttf) format("truetype");
}

*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color:black;
}


.container
{
    width: 100%;

}

.position_box
{
    position: absolute;
}

/* header */

#header
{
    position: sticky;
    top: 0;
    height: 7vh;
    background-color: white;
    z-index: 8;
}

#header_content
{
    height: 7vh;
}

#back_button
{ position:absolute;
  margin-top:12px;
  left:9px;
  height: 7vh;

}




#main
{
  height :70vh;
  top:50%;

}


#main_content
{
  height: 80vh;
  transform:scale(1.5);
  margin: auto;
}

#nav_icon
{
    position:absolute;
    right: 10px;
    top:10px;
}

#nav_icon div
{
    width: 20px;
    height: 0px;
    background: #C4C4C4;
    border: 2px solid #FF5353;
    border-radius: 4px;
    margin-bottom: 3px;
}

#nav_icon:last-child
{
    margin-bottom: 0;
}


/* section */




#id .position_box h3
{
    position: absolute;
    left: calc(50vw - 180px/2);
    top: calc(50vh * 0.26);
    width: 192px;
    height: 52px;
    box-sizing: border-box;
    font-family: PoetsenOne;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 52px;
}

#id .position_box a
{   position: absolute;
    left: 5vw;
    top: calc(10vh*0.1);
    width: 90vw;
    height: calc(70vh * 0.2);
    line-height: calc(70vh*0.2);
    border:2px solid #FF5353;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left:9px;
    background: #ffffff;
    color: #C4C4C4;
}

#pw .position_box h3
{
    position: absolute;
    left: calc(50vw - 180px/2);
    top: calc(50vh * 0.26);
    width: 192px;
    height: 52px;
    box-sizing: border-box;
    font-family: PoetsenOne;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 52px;
}

#pw .position_box a
{   position: absolute;
    left: 5vw;
    top: calc(20vh*0.9);
    width: 90vw;
    height: calc(70vh * 0.2);
    line-height: calc(70vh*0.2);
    border:2px solid #FF5353;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left:9px;
    background: #ffffff;
    color: #C4C4C4;
}


#login .position_box a
{
  position: absolute;
  left: 5vw;
  top: calc(40vh);
  width: 90vw;
  height: calc(70vh * 0.2);
  text-align: center;
  line-height: calc(70vh * 0.2);
  background-color: #ff5353;
  color: #ffffff;
  border: 2px solid #FF5353;
  border-radius: 6px;
  font-size: 25px;
  font-weight: bold;
}

#login_content
{
  position: absolute;
  width: 56px;
  height: 44px;
  top: 330px;

}


/*external*/

#external
{
  position:absolute;
  height:180vh;
}

#external_content
{
  height : 70vh;
}

#simple_login
{
  position: absolute;
  left: 5vw;
  top: calc(90vh);
  width: 90vw;
  height: calc(70vh * 0.2);

 font-family: Mouse Memoirs;
 font-style: bold;
 font-weight: normal;
 font-size: 30px;
 line-height: 30px;
 color: #FFA2A2;
text-align:center;

}

#naver .position_box a
{
  position: absolute;
  left: 5vw;
  top: calc(70vh);
  width: 90vw;
  height: calc(70vh * 0.2);


  text-align: center;
  line-height: calc(70vh * 0.2);
  background-color: #85D951;
  color: #ffffff;
  border: 2px solid #85D951;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
}

#kakao .position_box a
{
  position: absolute;
  left: 5vw;
  top: calc(90vh);
  width: 90vw;
  height: calc(70vh * 0.2);

  text-align: center;
  line-height: calc(70vh * 0.2);
  background-color: #FFF500;
  color: #855D38;
  border: 2px solid #FFF500;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
}

#google .position_box a
{
  position: absolute;
  left: 5vw;
  top: calc(110vh);
  width: 90vw;
  height: calc(70vh * 0.2);

  text-align: center;
  line-height: calc(70vh * 0.2);
  background-color: #E1E1E1;
  color: #ffffff;
  border: 2px solid #E1E1E1;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
}
