/* pre-setting */

@font-face {
    font-family: PoetsenOne;
    src: url(assets/PoetsenOne-Regular.ttf) format("truetype");
}

*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color:black;
}


.container
{
    width: 100%;


}

.position_box
{
    position: absolute;
}

/* header */

#header
{
    position: sticky;
    top: 0;
    height: 7vh;
    background-color: white;
    z-index: 8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

#header_content
{
    height: 7vh;
}

#back_button
{
  position:absolute;
  margin-top:12px;
  left:9px;
  height: 7vh;

}

#nav_icon
{
    position:absolute;
    right: 10px;
    top:10px;
}

#nav_icon div
{
    width: 20px;
    height: 0px;
    background: #C4C4C4;
    border: 2px solid #FF5353;
    border-radius: 4px;
    margin-bottom: 3px;
}

#nav_icon:last-child
{
    margin-bottom: 0;
}

/* profile */

#profile
{
  height :40vh;
  top: 18.5vh;

}

#profile_circle
{
  position:absolute;
  left: 28vw;
  top:18.5vh;

  width:44vw;
  height:24.6vh;

  border-radius:50%;

  background: #C4C4C4;
}

#profile_circle  img
{
  position:absolute;
  max-width:100%;
  max-height:100%;
  transform:scale(1);
  width:auto; height:auto;
  margin:auto;
  top:0; bottom:0; left:0; right:0;
}

#profile_amendment a
{
  position:absolute;
  top:45vh;
  left:32.3vw;
  width:35.5vw;
  height:3.8vh;
  border:2px solid #FF5353;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  background: #ffffff;
  color: #FF5353;
    line-height: 20px;
}

#profile_amendment h1
{
  position: absolute;
  width: 192px;
  height: 52px;
  font-family: PoetsenOne;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  color: #FF5353;

}

/* section */

#section
{
  top:57vh;
  height:43vh;
}

#reserve_confirm a
{
  position:absolute;
  left:6.4vw;
  top:57vh;
  width:87.2vw;
  height:7vh;

  text-align: center;
  line-height: 45px;
  background-color: #ff5353;
  color: #ffffff;
  border: 0px solid #FF5353;
  border-radius: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

#locate_confirm a
{
  position:absolute;
  top:65vh;
  left:6.4vw;
  width:87.2vw;
  height:7vh;
  border:2px solid #FF5353;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  background: #ffffff;
  color: #FF5353;
  line-height: 45px;
  font-size: 15px;
}

#locate_confirm
{
  position: absolute;
  width: 192px;
  height: 52px;
  font-family: PoetsenOne;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #FF5353;
}



#withdraw_content
{
  position: absolute;
  width: 90vw;
  top: 60vh;
  left:calc(20vw*0.2);
  height: 40vh;
  line-height: calc(70vh*0.2)
  font-family: PoetsenOne;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  display: flex;
  justify-content: center;
}

#withdraw_content a
{
  color: #ff8282;
}

#border {
  border-right: 1px solid #ff8282;
  padding-right:2vw;
  margin-right: 2vw;
}
