<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
  ajax prac입니다
  <input type="text" class="year" value="2021">
  <input type="text" class="month" value="8">
  <input type="text" class="day" value="14">
  <input type="button" class="btnAjax" value="TEST">
  <div class="reservation-list"></div>
</body>
<script>
  let btnAjax = document.querySelector('.btnAjax');
  btnAjax.addEventListener('click', e => {
    let year = document.querySelector('.year').value;
    let month = document.querySelector('.month').value;
    let day = document.querySelector('.day').value;
    let params = {
      'year': year,
      'month' : month,
      'day': day
    }
    $.ajax({
      url: "{%url 'calendarpage:ajax' %}",
      type: 'POST',
      headers: {
        'X-CSRFTOKEN': '{{csrf_token}}'
      },
      data: JSON.stringify(params),
      success: function(data){
        console.log(data)
        let reservationList = document.querySelector('.reservation-list');
        if (data.length == 0){
          reservationList.innerHTML = '예약이 없습니다';
        }
        else{
          reservationList.innerHTML = '';
          for (let i =0 ; i <data.length; i++){
            let span = document.createElement('span');
            span.innerHTML = `예약자: ${data[i]['representative_name']} / 
                              시작 시간: ${data[i]['start_time']} /
                              끝나는 시간: ${data[i]['end_time']} /
                              멤버: ${data[i]['member_arr']}
                              <br/>`;
            reservationList.appendChild(span);
          }
        }
      },
      error: function(){
        console.log('실패')
      }
    })
  })
</script>
</html>