{% extends 'base.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'calendarpage/style.css' %} " />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% endblock style %}
{% block content %}
{% load static %}
      <div id="cal" class="row">
        <table class="col-10 col-sm-6 col-lg-5" id="calendar" align="center">
          <tr align="center" id="cal-top">
            <td class="not" colspan="7">
              <div id="prev" class="button"><div id="prevButton"></div></div>
              <span id="tbCalendarYM" class="font"> yyyy년 m월</span>
              <div id="next" class="button"><div id="nextButton"></div></div>
            </td>
          </tr>
          <tr align="center">
            <td id="Sun" class="day">Sun</td>
            <td class="day">Mon</td>
            <td class="day">Tue</td>
            <td class="day">Wed</td>
            <td class="day">Thu</td>
            <td class="day">Fri</td>
            <td id="Sat" class="day">Sat</td>
          </tr>
        </table>
      </div>
      <div id="information">
        <div id="notice"></div>
      </div>
      <div id="booking" class="row">
        <a href="{% url 'calendarpage:new' %}"><button id="bookingButton" class="col-6 col-sm-5 col-lg-4">예약</button></a>
      </div>
    </div>

    {% if messages %}
      {% for message in messages %}
        <script>
          alert('{{message}}')
        </script>
      {% endfor %}
    {% endif %}
   
{% endblock content %}
{% block js %}
{% load static %}
<script src=" {% static 'calendarpage/index.js' %}"></script>

<script>
let year;
let month;
let day;
console.log("wow", today.getMonth()+1,dates,"its");
hihi("byebye");
//setTimeout(()=>{console.log(dates)},5000);
/*
year = today.getFullYear();
month = today.getMonth()+1;*/
var dateSelects=function(event){
  //var h=this;
  console.log("hhhhhhhhhhhhhh");
}
dates.forEach(function(date){date.addEventListener("click",dateSelects)})
function dateSend(event){
console.log("wow", today.getMonth()+1,dates,"its");
hihi("byebye");
//setTimeout(()=>{console.log(dates)},5000);
year = today.getFullYear();
month = today.getMonth()+1;
  console.log("Date Send");
  console.log(this);
  day=this.getAttribute("id");
  console.log(typeof(day));
  console.log(year,month,day,"wow");
  let params={
  year: String(year),
  month: String(month),
  day:day,
};
fetch("{%url 'calendarpage:ajax' %}",{
  method:"POST",
  headers: {
          "X-CSRFTOKEN": "{{csrf_token}}",
        },
  body: JSON.stringify(params)})
  .then(res=>res.json())
  .then(data => {
          console.log("it's",data);
          //let notice = document.querySelector("#notice");
          if (data.length == 0) {
            createNotice();
            noticeReservation.innerText=`${day}일에 등록된 일정이 없습니다.`
          } else {
            //reservationList.innerHTML = "";
            for (let i = 0; i < data.length; i++) {
              console.log(`예약자: ${data[i]["representative_name"]}/
                              시간: ${data[i]["start_time"]} ~
                              ${data[i]["end_time"]}
                              <br/>`);
              createNotice();
              noticeCircle.style.backgroundColor="#11D3B0";
              noticeReservation.style.backgroundColor="#11D3B0";
              noticeReservation.style.color="white";
              noticeTime=document.createElement("div");
              noticeName=document.createElement("div");
              //noticeTime.setAttribute("id","noticeTime");
              //noticeName.setAttribute("id","noticeName");
              //notice1.children.appendChild(noticeTime);
              //noticeName.innerText = `${data[i]["representative_name"]} / ${data[i]["start_time"]} ~ ${data[i]["end_time"]}`;
              //noticeReservation.append(noticeName,noticeTime);
              //noticeReservation.append(noticeTime);
              //noticeTime.innerText="hi";
              noticeReservation.innerText = `${data[i]["representative_name"]} / ${data[i]["start_time"]} ~ ${data[i]["end_time"]}`;
              //reservationList.appendChild(span);
            }
          }
      
  })
  .catch(error=>{console.log(error)})
}


dates.forEach(date=>date.addEventListener("click",dateSend))

console.log(year, month, day, "yeay");
let prevCalendar=function prevCalendar() {
  //console.log(today.getMonth());
  today = new Date(today.getFullYear(), today.getMonth() - 1, today.getDate());
  //console.log(today.getMonth());
  buildCalendar();
  dates.forEach(date=>date.addEventListener("click",dateSend));
}

function nextCalendar() {
  today = new Date(today.getFullYear(), today.getMonth() + 1, today.getDate());
  buildCalendar();
  dates.forEach(date=>date.addEventListener("click",dateSend));
}
const prev = document.querySelector("#prev");
const next = document.querySelector("#next");
prev.addEventListener("click",prevCalendar);
next.addEventListener("click", event =>{nextCalendar();});
console.log("오늘은",today.getFullYear(),today.getMonth(),today.getDate());
</script>

{% endblock js %}
