/* pre-setting */

@font-face {
    font-family: PoetsenOne;
    src: url(assets/PoetsenOne-Regular.ttf) format("truetype");
}

*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color:black;
}


.container
{
    width: 100%;


}

.position_box
{
    position: absolute;
}

/* header */

#header
{
    position: sticky;
    top: 0;
    height: 7vh;
    background-color: white;
    z-index: 8;
}

#header_content
{
    height: 7vh;
}

#back_button
{ position:absolute;
  margin-top:12px;
  left:9px;
  height: 7vh;

}

#nav_icon
{
    position:absolute;
    right: 10px;
    top:10px;
}

#nav_icon div
{
    width: 20px;
    height: 0px;
    background: #C4C4C4;
    border: 2px solid #FF5353;
    border-radius: 4px;
    margin-bottom: 3px;
}

#nav_icon:last-child
{
    margin-bottom: 0;
}

/* profile */

#profile
{
  height :50vh;
  top: 40vh;
}

#profile_circle
{
  position:absolute;
  left: 24%;
  right: 28.27%;
  top:40vh;

  width:60vh;
  height:60vh;

  border-radius:50%;

  background: #C4C4C4;
}

#profile_circle  img
{
  position:absolute;
  max-width:100%;
  max-height:100%;
  transform:scale(1.5);
  width:auto; height:auto;
  margin:auto;
  top:0; bottom:0; left:0; right:0;
}

#profile_amendment .position_box a
{
  position:absolute;
  top:100vh;
  left: 32.25vw;
  width:40vh;
  height:7vh;
  border:2px solid #FF5353;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  background: #ffffff;
  color: #FF5353;
  line-height: calc(7vh*0.9)
}

#profile_amendment .position_box h3
{
  position: absolute;
  width: 192px;
  height: 52px;
  font-family: PoetsenOne;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;

  color: #FF5353;

}




/* section */

#section
{
  top:calc(50vh*0.26);
}

#withdraw {
  position:absolute;

}

#withdraw_content
{
  position: absolute;
  width: 90vw;
  top: 95vh;
  left:calc(20vw*0.2);
  height: 40vh;
  line-height: calc(70vh*0.2)
  font-family: PoetsenOne;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  justify-content: center;
}

#withdraw_content a
{
  color: #ff8282;
}

#border {
  border-right: 2px solid #ff8282;
  padding-right:1vw;
  margin-right: 1vw;
}


#confirm .position_box a
{
  position: absolute;
  left: 5vw;
  top: calc(70vh );
  width: 90vw;
  height: calc(70vh * 0.2);

  text-align: center;
  line-height: calc(70vh * 0.2);
  background-color: #ff5353;
  color: #ffffff;
  border: 0px solid #FF5353;
  border-radius: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;

}
