body {
  font-family: sans-serif;
}

#header {
  top: 0;
  background-color: red;
  height: 5vh;
}

#cal {
  background-color: antiquewhite;
  height: 50vh;
}

#calendar {
  border: 3px solid;
  border-color: red;
}

#Sun {
  color: #f79dc2;
}

#Sat {
  color: skyblue;
}

#informations {
  background-color: blueviolet;
  height: 45vh;
}
