body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #ffffff;
  height: 5vh;
}

#back {
  width: 3vh;
  height: 3vh;
}

#menu {
  width: 3vh;
  height: 3vh;
}

#cal-top {
  border: 1px solid;
  border-color: #ff5353;
  background-color: #ff5353;
  width: 500px;
}

td:not(.not) {
  background-color: white;
  border: 1px solid;
  border-color: #ff5353;
}

#backButton {
  display: inline-block;
  background-color: #ffffff;
  text-align: left;
  float: left;
  height: 5vh;
  width: 6%;
}

#menuButton {
  display: inline-block;
  background-color: #ffffff;
  height: 5vh;
  width: 6%;
  text-align: right;
  float: right;
}

#cal {
  background-color: #ffe9e2;
  width: 100%;
  height: 55vh;
}

#calendar {
  border-collapse: collapse;
  border-spacing: 0;
  height: 50vh;
  margin-top: 2.5vh;
}

.button {
  border-color: #ff5353;
  color: #ff5353;
}

#Sun {
  color: #ff5353;
}

#informations {
  background-color: #ffffff;
  height: 40vh;
}

#bookingButton {
  display: inline-block;
  background-color: #ff5353;
  border-color: #ff5353;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 3vh;
  margin: 8vh auto;
  height: 8vh;
}

#middle {
  background-color: #c4c4c4;
  color: white;
  height: 20vh;
}
