/* pre-setting */

@font-face {
    font-family: PoetsenOne;
    src: url(assets/PoetsenOne-Regular.ttf) format("truetype");
}

*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color:black;
}


.container
{
    width: 100%;

}

.position_box
{
    position: absolute;
}

/* header */

#header
{
    position: sticky;
    top: 0;
    height: 7vh;
    background-color: white;
    z-index: 8;
}

#header_content
{
    height: 7vh;
}

#back_button
{ position:absolute;
  margin-top:12px;
  left:9px;
  height: 7vh;

}


#profile_content
{
    height:60vh;
}


#profile
{
  height :60vh;
  top:40%;
  position:relative;

}

#profile_circle
{
  position:absolute;
  left: 28%;
  right: 28.27%;
  top: 45%;
  bottom: 56.97%;
  width:60vh;
  height:60vh;

  border-radius:50%;

  background: #C4C4C4;
}

#profile_circle  img
{
  position:absolute;
  max-width:100%;
  max-height:100%;
  transform:scale(1.5);
  width:auto; height:auto;
  margin:auto;
  top:0; bottom:0; left:0; right:0;
}

#profile_amendment .position_box a
{
  position:absolute;
  top:30vh;
  right:-17vh;
  left:-17vh;


  width:40vh;
  height:7vh;
  border:2px solid #FF5353;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  background: #ffffff;
  color: #FF5353;
  line-height: calc(7vh*0.9)
}

#profile_amendment .position_box h3
{
  position: absolute;
  width: 192px;
  height: 52px;
  font-family: PoetsenOne;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;

  color: #FF5353;

}

#nav_icon
{
    position:absolute;
    right: 10px;
    top:10px;
}

#nav_icon div
{
    width: 20px;
    height: 0px;
    background: #C4C4C4;
    border: 2px solid #FF5353;
    border-radius: 4px;
    margin-bottom: 3px;
}

#nav_icon:last-child
{
    margin-bottom: 0;
}


/* section */


#shortcut_1 .position_box h3
{
    position: absolute;
    left: calc(50vw - 192px/2);
    top: calc(50vh * 0.26);
    width: 192px;
    height: 52px;
    box-sizing: border-box;
    font-family: PoetsenOne;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 52px;

    color: #FF5353;
}

#shortcut_1 .position_box a
{   position: absolute;
    left: 5vw;
    top: calc(50vh * 0.4);
    width: 90vw;
    height: calc(70vh * 0.2);

    line-height: calc(70vh*0.2);
    border:2px solid #FF5353;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    background: #ffffff;
    color: #FF5353;
}




#shortcut_2 .position_box a
{
  position: absolute;
  left: 5vw;
  top: calc(50vh );
  width: 90vw;
  height: calc(70vh * 0.2);

  text-align: center;
  line-height: calc(70vh * 0.2);
  background-color: #ff5353;
  color: #ffffff;
  border: 2px solid #FF5353;
  border-radius: 6px;
}


.shortcut
{
    height: 50vh;
}
